#carouselExampleIndicators{
    height: 50vh;
}

.metà{
height: 50vh
}

#logoBus-header{
    width:55px; 
    height:40px;
}

#mask{
backdrop-filter: blur(6px);
}


.font1{
    font-family: 'Montserrat', sans-serif;
}